<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <a class="navbar-brand" href="#">
        <img [src]=logo width="30" height="30" alt="">
      </a>
      <div *ngFor="let nav_item of nav_items; index as i">
        <li class="nav-item" [class.active] = "i === 0">
          <a class="nav-link" href="#">{{nav_item}}</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
